.idea-row-container {
  width: 100%;
  padding: 20px;
  font-size: larger;
  background-color: #f5da55;
}
 
.idea-row-content {
  font-size: 20px;
  padding-top: 5px;
}
 
.attachments-title
{
  padding-top: 10px;
  font-size: 15px;
}
 
.space {
  padding-top: 15px;
}
 
.like-button-wrapper {
  /* display: inline-block;
  position: relative; */
  /* text-align: right; */
  /* display: grid; */
  cursor: pointer;
  /* background-color: grey; */
  font-size: 18px;
  font-weight: 600;
  /* justify-self: right; */
  outline: none;
}
 
.like-button {
  outline: none;
}
/* .like-button {
  right: 0px;
  text-align: right;
  display: flex;
} */
 
.comment-container {
  font-size: 15px;
}
 
.comment-title-container {
  padding-top: 10px;
  font-size: 15px;
}
 
.likes-container {
  position: absolute;
  right: 0px;
  white-space: nowrap;
}
